<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div class="col-md-12">
	<div class="col-md-4">
		<strong>Name</strong>
		</div>
		</div>
<div class="col-md-12">
	<div class="col-md-4">
		<%= @employee.name%>
	</div>
</div>
</body>
<%= link_to "Home", admin_employees_path %>