<% if @company.resources.any? %>

	<% if @company.bookings.any? %>
		<%= render "bookings" %>
	<% else %>
	<h2>No Bookings</h2>
	<% end %>
<% else %>
	Sorry. No resources are available in your company. So no bookings.
<% end %>