<h2>Your booking is done.</h2>
<h4>Details</h4>

<div class="col-md-12">
	<div class="col-md-4">
		<%= @booking.comment %>
	</div>
	<div class="col-md-2">
		<%=@booking.date_of_booking %>
	</div>

	<div class="col-md-2">
		<%= show_slot_time @booking.resource_id, @booking.slot %>
	</div>

	<div class="col-md-2">
		<%= status_normalization(@booking.status) %>
	</div>
	<div class="col-md-2">
	</div>	
</div>