
<div class="row">
<hr>
<div class="col-md-12">
	<div class="col-md-4">
	<strong>Name</strong>
	</div>
	<div class="col-md-1">
	<strong>TimeSlot</strong>
	</div>
	<div class="col-md-1">
	<strong>Update</strong>
	</div>
	<div class="col-md-1">
	<strong>Delete</strong>
	</div>
	<div class="col-md-3">
	</div>
</div>
</div>
<hr>
<div class="col-md-12">
<% @resources.each do |resource|%>
<div class="row">
	<div class="col-md-4">
	<%= resource.name%></td>
	</div>
	<div class="col-md-2">
	<%= humanize resource %>
	</div>
	<div class="col-md-1">
	<%= button_to "Update", edit_admin_resource_path(resource), :method => "get",:class => "btn btn-info" %>
	</div>
	<div class="col-md-1">
	<%= button_to "Delete", admin_resource_path(resource),method:"delete",:class => "btn btn-danger", data: {confirm: "Are you sure?"}  %>
	</div>
	<div class="col-md-4">
	</div>
	<br><hr>
</div>
<% end %>
</div>
