<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="col-md-12">
	<div class="col-md-4">
	<strong>Name</strong>
	</div>
	<div class="col-md-4">
	<strong>Alloted Time Slot</strong>
	</div>
</div>
<div class="col-md-12">
	<div class="col-md-4">
	<%= @resource.name%></td>
	</div>
	<div class="col-md-4">
	<%= @resource.count%>
	</div>
	<div class="col-md-4">
	<%= humanize @resource%>
	</div>
</div>

</body>