<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    text-align: left;
}
</style>
</head>
<body>
<table cellpadding="10"><tr>
<td><strong>Company Id</strong></td>
<td><strong>Name</strong></td>
<td><strong>Count</strong></td>

</tr>

<tr>
<td><%= @resource.company_id%></td>
<td><%= @resource.name%></td>
<td><%= @resource.count%></td>
</tr>
</table>
</body>